@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    /* background-color: #CABFCA; */ 
    background-color: white;
}

nav {
    display: flex;
    background-color: #847474;
    justify-content: space-between;
}

.navbar_list {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    text-decoration: none;
    justify-content: space-evenly;
    width: 500px;

    font-family: "Poppins";
    font-weight: 600;  
}

/* Gäller alla länkars styling */ 
a {
    color: #41402b;
    text-decoration: none; 
    font-family: "Poppins";
}

a:hover {
    color: rgb(255, 227, 253);
    text-decoration: underline;

}


.header {
    width: 450px;
    height: auto; 
}

i {
    margin: 10px;
}

/* Wrapper div till förstasidan */ 

.firstpage_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px; 

}

/* Första tavlan till vänster */ 
.decorpic_one {
    height: 80%; 
    width: auto;

}

/* Andra tavlan till höger */ 
.decorpic_two {
    height: 80%; 
    width: auto; 
    margin-right: 50px;
}